<launch>

<arg name="front_left_camera_name" default="cam0"/>
<arg name="front_right_camera_name" default="cam1"/>
<arg name="back_right_camera_name" default="cam2"/>
<arg name="back_left_camera_name" default="cam3"/>
<arg name="scale" default="0.1"/>
<arg name="process_every_nth_frame" default="1"/>
<arg name="publish_tf" default="true"/>
<arg name="respawn" default="false"/>
<arg name="config" default="seeker_omni_depth"/>
<arg name="standalone" default = "false"/>
<arg name="manager" default="manager"/>
<arg name="use_image_transport" default="false"/>
<arg name="pub_disparity_img" default="true"/>
<arg name="pub_disparity" default="true"/>
<arg name="pub_imu" default="true"/>
<arg name="time_sync" default="true"/>

<arg name="stereo_params_camchain" default="$(find seeker)/config/$(arg config)/kalibr_cam_chain.yaml"/>

<arg     if="$(arg standalone)" name="standalone_args" value="standalone"/>
<arg unless="$(arg standalone)" name="standalone_args" value="load"/>

<arg unless="$(arg standalone)" name="manager_args" value = "$(arg manager)"/>
<arg     if="$(arg standalone)" name="manager_args" value = ""/>

<arg     if="$(arg respawn)" name="bond" value=""/>
<arg unless="$(arg respawn)" name="bond" value="--no-bond"/>

<node unless="$(arg standalone)" pkg="nodelet" type="nodelet" name="$(arg manager_args)" args="manager" output="screen">
  <param name="num_worker_threads" value="32"/>
</node>

<node pkg="nodelet" type="nodelet" name="seeker_node" 
        args="$(arg standalone_args) seeker/SeekRosNode $(arg manager_args)"
        output="screen">
    <param name="use_image_transport" value="$(arg use_image_transport)"/>
    <param name="pub_disparity_img" value="$(arg pub_disparity_img)"/>
    <param name="pub_disparity" value="$(arg pub_disparity)"/>
    <param name="pub_imu" value="$(arg pub_imu)"/>
    <param name="time_sync" value="$(arg time_sync)"/>
    <param name="imu_link" value="imu"/>
</node>

<node name="disparity_image_proc_front" pkg="nodelet" type="nodelet" args="$(arg standalone_args) disparity_image_proc/depth_image $(arg manager_args)" output="screen">
<remap from="/left/camera_info" to="/front/left/camera_info"/>
<remap from="/right/camera_info" to="/front/right/camera_info"/>
<remap from="/left/image_rect_color" to="/front/left/image_raw"/>
<remap from="/disparity" to="/front/disparity"/>
<remap from="/depth_image" to="/front/depth/image_raw"/>
<param name="approximate_sync" value="true"/>
</node>

<node name="disparity_image_proc_right" pkg="nodelet" type="nodelet" args="$(arg standalone_args) disparity_image_proc/depth_image $(arg manager_args)" output="screen">
<remap from="/left/camera_info" to="/right/left/camera_info"/>
<remap from="/right/camera_info" to="/right/right/camera_info"/>
<remap from="/left/image_rect_color" to="/right/left/image_raw"/>
<remap from="/disparity" to="/right/disparity"/>
<remap from="/depth_image" to="/right/depth/image_raw"/>
<param name="approximate_sync" value="true"/>
</node>

<node name="disparity_image_proc_back" pkg="nodelet" type="nodelet" args="$(arg standalone_args) disparity_image_proc/depth_image $(arg manager_args)" output="screen">
<remap from="/left/camera_info" to="/back/left/camera_info"/>
<remap from="/right/camera_info" to="/back/right/camera_info"/>
<remap from="/left/image_rect_color" to="/back/left/image_raw"/>
<remap from="/disparity" to="/back/disparity"/>
<remap from="/depth_image" to="/back/depth/image_raw"/>
<param name="approximate_sync" value="true"/>
</node>

<node name="disparity_image_proc_left" pkg="nodelet" type="nodelet" args="$(arg standalone_args) disparity_image_proc/depth_image $(arg manager_args)" output="screen">
<remap from="/left/camera_info" to="/left/left/camera_info"/>
<remap from="/right/camera_info" to="/left/right/camera_info"/>
<remap from="/left/image_rect_color" to="/left/left/image_raw"/>
<remap from="/disparity" to="/left/disparity"/>
<remap from="/depth_image" to="/left/depth/image_raw"/>
<param name="approximate_sync" value="true"/>
</node>

<node pkg="nodelet" type="nodelet" name="front_stereo_undistort" args="$(arg standalone_args) image_undistort/StereoUndistortNodelet $(arg manager_args) $(arg bond) respawn=$(arg respawn)" output="screen">
  <param name="publish_tf" value = "$(arg publish_tf)"/>
  <param name="input_camera_info_from_ros_params" value = "true"/>
  <param name="first_camera_namespace" value="$(arg front_left_camera_name)"/>
  <param name="second_camera_namespace" value="$(arg front_right_camera_name)"/>
  <param name="scale" value="$(arg scale)"/>
  <param name="process_every_nth_frame" value="$(arg process_every_nth_frame)"/>
  <rosparam file="$(arg stereo_params_camchain)"/>
  <remap from="raw/first/image" to="/fisheye/left/image_raw"/>
  <remap from="raw/second/image" to="/fisheye/right/image_raw"/>

  <param name="first_output_frame" value="depth0"/>
  <param name="second_output_frame" value="depth0"/>

  <remap from="rect/first/camera_info" to="/front/left/camera_info"/>
  <remap from="rect/second/camera_info" to="/front/right/camera_info"/>
  <remap from="rect/first/image" to="/front/left/image_raw"/>
  <remap from="rect/second/image" to="/front/right/image_raw"/>

  <remap from="raw/first/camera_info" to="/front/raw/first/camera_info"/>
  <remap from="raw/second/camera_info" to="/front/raw/second/camera_info"/>
</node>

<node pkg="nodelet" type="nodelet" name="right_stereo_undistort" args="$(arg standalone_args) image_undistort/StereoUndistortNodelet $(arg manager_args) $(arg bond) respawn=$(arg respawn)" output="screen">
  <param name="publish_tf" value = "$(arg publish_tf)"/>
  <param name="input_camera_info_from_ros_params" value = "true"/>
  <param name="first_camera_namespace" value="$(arg front_right_camera_name)"/>
  <param name="second_camera_namespace" value="$(arg back_right_camera_name)"/>
  <param name="scale" value="$(arg scale)"/>
  <param name="process_every_nth_frame" value="$(arg process_every_nth_frame)"/>
  <rosparam file="$(arg stereo_params_camchain)"/>
  <remap from="raw/first/image" to="/fisheye/right/image_raw"/>
  <remap from="raw/second/image" to="/fisheye/bright/image_raw"/>

  <param name="first_output_frame" value="cam2r"/>
  <param name="second_output_frame" value="cam3l"/>

  <remap from="rect/first/camera_info" to="/right/left/camera_info"/>
  <remap from="rect/second/camera_info" to="/right/right/camera_info"/>
  <remap from="rect/first/image" to="/right/left/image_raw"/>
  <remap from="rect/second/image" to="/right/right/image_raw"/>

  <remap from="raw/first/camera_info" to="/right/raw/first/camera_info"/>
  <remap from="raw/second/camera_info" to="/right/raw/second/camera_info"/>
</node>

<node pkg="nodelet" type="nodelet" name="left_stereo_undistort" args="$(arg standalone_args) image_undistort/StereoUndistortNodelet $(arg manager_args) $(arg bond) respawn=$(arg respawn)" output="screen">
  <param name="publish_tf" value = "$(arg publish_tf)"/>
  <param name="input_camera_info_from_ros_params" value = "true"/>
  <param name="first_camera_namespace" value="$(arg back_left_camera_name)"/>
  <param name="second_camera_namespace" value="$(arg front_left_camera_name)"/>
  <param name="scale" value="$(arg scale)"/>
  <param name="process_every_nth_frame" value="$(arg process_every_nth_frame)"/>
  <rosparam file="$(arg stereo_params_camchain)"/>
  <remap from="raw/first/image" to="/fisheye/bleft/image_raw"/>
  <remap from="raw/second/image" to="/fisheye/left/image_raw"/>

  <param name="first_output_frame" value="cam6r"/>
  <param name="second_output_frame" value="cam7l"/>

  <remap from="rect/first/camera_info" to="/left/left/camera_info"/>
  <remap from="rect/second/camera_info" to="/left/right/camera_info"/>
  <remap from="rect/first/image" to="/left/left/image_raw"/>
  <remap from="rect/second/image" to="/left/right/image_raw"/>

  <remap from="raw/first/camera_info" to="/left/raw/first/camera_info"/>
  <remap from="raw/second/camera_info" to="/left/raw/second/camera_info"/>
</node>

<node pkg="nodelet" type="nodelet" name="back_stereo_undistort" args="$(arg standalone_args) image_undistort/StereoUndistortNodelet $(arg manager_args) $(arg bond) respawn=$(arg respawn)" output="screen">
  <param name="publish_tf" value = "$(arg publish_tf)"/>
  <param name="input_camera_info_from_ros_params" value = "true"/>
  <param name="first_camera_namespace" value="$(arg back_right_camera_name)"/>
  <param name="second_camera_namespace" value="$(arg back_left_camera_name)"/>
  <param name="scale" value="$(arg scale)"/>
  <param name="process_every_nth_frame" value="$(arg process_every_nth_frame)"/>
  <rosparam file="$(arg stereo_params_camchain)"/>
  <remap from="raw/first/image" to="/fisheye/bright/image_raw"/>
  <remap from="raw/second/image" to="/fisheye/bleft/image_raw"/>

  <param name="first_output_frame" value="cam4r"/>
  <param name="second_output_frame" value="cam5l"/>

  <remap from="rect/first/camera_info" to="/back/left/camera_info"/>
  <remap from="rect/second/camera_info" to="/back/right/camera_info"/>
  <remap from="rect/first/image" to="/back/left/image_raw"/>
  <remap from="rect/second/image" to="/back/right/image_raw"/>

  <remap from="raw/first/camera_info" to="/back/raw/first/camera_info"/>
  <remap from="raw/second/camera_info" to="/back/raw/second/camera_info"/>
</node>

</launch>
